body{
        background-image: url(back5.jpg)
    }

    h1 {
            font-family: verdana;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: white; 

            width: 320px;
            padding: 20px;
            border: none;
            border-radius: 20px;
            margin :25px auto 4px;
            background-color: rgba(191, 16, 110, 0.67);
		}

        h2, h3 {
            font-family: verdana;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            color: black; 
        } 